.read-more-text 
{
    display: none;
}

.read-more-text--show
{
    display: inline;
}

.read-more-btn
{
    color: #191970;
    cursor: pointer;
}

.album-covers
{
    border-radius: 80%;
}

body
{
    background-color: #212121;
}

header
{
    padding: 50px 120px 140px 120px;
}

header img
{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.album-covers
{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.auto-type
{
    color: #026606;
    font-size: 60px;
    font-family: "Playfair Display", serif;
}

p, .row, ol
{
    color: #D0C0D0;
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
}

#songs img
{
    width: 180px;
    height: 180px;
}

h2, h3
{
    color: #026606;
}

#popular-songs
{
    margin-top: 8px;
}

audio::-webkit-media-controls-enclosure
 {
    border-radius: 0;
    background-color: rgba(200,200,200,1)
}

audio
{
    width: 180px;
    height: 30px;
}

.footer
{
    background: #404040;
    font-family: "Titillium Web", sans-serif;
    color: #D0C0D0;
    text-align: center;
    border-radius: 8px 8px;
}

.footer a
{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    cursor: pointer;
}

.footer a:hover
{
    color: #191970;
}

.footer a i
{
    font-size:1em;
    margin:0%;
}

.footer a i
{
    margin: 0;
}

@media (max-width: 575.98px)
{
    header img
{
    width: 150px;
    height: 150px;
}
    .auto-type
{
    font-size: 40px;
}
    header
{
    padding: 50px 120px 160px 120px;
}
    .album-covers
{
    width: 140px;
    height: 140px;
}
    #songs img
{
    width: 150px;
    height: 150px;
}
    audio
{
    width: 150px;
    height: 20px;
}
}
